body {
	background: beige;
	text-align: center;
}
a {
	padding: 5px;
	color: brown;
}
a:hover {
	color: orange;
}
p {
	margin: auto;
	padding: 40px;
	border: 20px;
	line-height: 1.5;
	max-width: 600px;
}

.croissant-image {
	text-align: center;
	max-width: 500px;
	margin: 50px;

	border-radius: 10px;
}
